<div class="alain-default__header-logo" ripper color="#000">
  <a [routerLink]="settings.user['indexPath']" (click)="toIndex()" class="header-link" style="user-select:none">
    @if (!settings.layout.collapsed && logoPath) {
      <img [src]="logoPath" class="header-logo-img" alt=""/>
    }
    @if (settings.layout.collapsed && logoFoldPath) {
      <img [src]="logoFoldPath" class="header-logo-img" alt=""/>
    }
    @if (logoText) {
      <span class="header-logo-text hidden-mobile">{{ logoText }}</span>
    }
  </a>
</div>

<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Search Button -->
    <li class="hidden-pc">
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon nzType="menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
      </div>
    </li>
    @if (settings.layout['breadcrumbs']) {
      <div class="hidden-mobile">
        <div style="padding:0 10px 0 18px">
          <erupt-nav></erupt-nav>
        </div>
      </div>
    }
    @if (desc) {
      <li>
        <span nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip [nzTooltipTitle]="descTpl">
        </span>
        <ng-template #descTpl>
          <div [innerHTML]="desc|html">
          </div>
        </ng-template>
      </li>
    }
  </ul>

  <ul class="alain-default__nav">
    @for (r of r_tools; track r) {
      <li (click)="customToolsFun($event,r)" [ngClass]="r.mobileHidden?'hidden-mobile':''">
        <div class="alain-default__nav-item r_tool_item" [title]="r.text||''">
          @if (r.icon) {
            <i class="fa {{r.icon}}"></i>
          }
          @if (r.render) {
            <div [innerHTML]="renderTool(r) | safeHtml"></div>
          }
        </div>
      </li>&nbsp;
    }

    @if (r_tools.length>0) {
      <nz-divider nzType="vertical" class="hidden-mobile"></nz-divider>
    }

    @if (menu) {
      <li>
        <div class="alain-default__nav-item" (click)="search()">
          <i nz-icon nzType="search"></i>
        </div>
      </li>
    }

    <li class="hidden-mobile" (click)="toggleScreen()">
      <div class="alain-default__nav-item">
        <i nz-icon [nzType]="isFullScreen ? 'fullscreen-exit' : 'fullscreen'"></i>
      </div>
    </li>
    <li [hidden]="!showI18n">
      <div class="alain-default__nav-item">
        <i18n-choice></i18n-choice>
      </div>
    </li>

    <li>
      <div class="alain-default__nav-item">
        <header-rtl></header-rtl>
      </div>
    </li>

    <li>
      <div class="alain-default__nav-item hidden-mobile" (click)="openDrawer()">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
      </div>
      <nz-drawer [nzClosable]="true" [nzVisible]="drawerVisible" [nzWidth]="260"
        [nzBodyStyle]="{padding:'8px 24px'}" (nzOnClose)="closeDrawer()"
        [nzTitle]="'setting.config' | translate" nzPlacement="right">
        <ng-container *nzDrawerContent>
          <erupt-settings>

          </erupt-settings>
        </ng-container>
      </nz-drawer>
    </li>
    @if (isEruptAi) {
      <li>
        <div class="alain-default__nav-item" (click)="openEruptAi()">
          <i class="fa fa-magic" aria-hidden="true"></i>
        </div>
      </li>
    }
    @if (isEruptNotice) {
      <li>
        <div class="alain-default__nav-item" (click)="openEruptNotice()">
          <nz-badge nzSize="small" [nzCount]="unreadCount"  [nzOffset]="[2, -5]">
            <i nz-icon nzType="bell"></i>
          </nz-badge>
        </div>
      </li>
    }

    <li>
      <header-user></header-user>
    </li>
  </ul>
</div>
