:host {
  ::ng-deep {
    se {
      width: 100%;
      .se__label {
        width: auto !important;
      }
    }

    .erupt-input {
      width: 100%;
    }

    .stander-line-height {
      line-height: 38px;
    }

    nz-picker{
      width: 100%
    }

    nz-range-picker .ant-calendar-picker.ant-calendar-picker-default {
      width: 100% !important;
    }


    .ant-form-horizontal {
      @media (max-width: 768px) {
        .col-div {
          height: auto !important;
        }
      }
    }

    .ant-form-vertical {
      .col-div {
        height: 90px;
      }
    }

  }
}