:host {
  ::ng-deep {
    .mb-5 {
      margin-bottom: 5px;
    }

    se {
      width: 100%;

      .se__label {
        width: auto !important;
        min-width: 70px;
      }
    }

    .erupt-input {
      width: 100%;
    }

    .stander-line-height {
      line-height: 38px;
    }


    nz-picker, nz-picker .ant-calendar-picker {
      width: 100% !important;
    }


    .ant-form-horizontal {
      @media (max-width: 768px) {
        .col-div {
          height: auto !important;
        }
      }
    }

    .ant-form-vertical {
      .col-div {
        height: 70px;
        margin-bottom: 5px;
      }
    }
  }
}