<div class="alain-default__aside-wrap">
    <!-- keyword filter box, toggled from the utility bar -->
    @if (filterOpen && !settings.layout.collapsed) {
        <div class="aside-filter">
            <nz-input-group nzSize="small" [nzPrefix]="filterPrefix" [nzSuffix]="filterSuffix">
                <input #filterInput nz-input type="text" [ngModel]="filterKeyword"
                       (ngModelChange)="onFilterChange($event)" (keydown.escape)="closeFilter()"
                       [placeholder]="'menu.filter_placeholder' | translate" autocomplete="off">
            </nz-input-group>
            <ng-template #filterPrefix><i nz-icon nzType="filter"></i></ng-template>
            <ng-template #filterSuffix>
                <i nz-icon nzType="close" class="aside-filter__close" (click)="closeFilter()"></i>
            </ng-template>
        </div>
    }
    <div class="alain-default__aside-inner" style="overflow: scroll">
        <erupt-menu [autoCloseUnderPad]="true" class="d-block" style="padding-top: 0 !important;padding-bottom:38px;"></erupt-menu>
        <div class="fold" style="height: 38px">
            @if (!settings.layout.collapsed) {
                <div class="fold__btn" (click)="refreshMenu()"
                     nz-tooltip nzTooltipPlacement="top" [nzTooltipTitle]="'global.refresh' | translate">
                    <i nz-icon nzType="reload" [nzSpin]="refreshing"></i>
                </div>
                <div class="fold__btn"
                     nz-dropdown [nzDropdownMenu]="recentMenus" nzTrigger="click" nzPlacement="topCenter"
                     (nzVisibleChange)="onRecentVisible($event)"
                     nz-tooltip nzTooltipPlacement="top" [nzTooltipTitle]="'menu.recent' | translate">
                    <i nz-icon nzType="history"></i>
                </div>
                <div class="fold__btn" (click)="locateCurrent()"
                     nz-tooltip nzTooltipPlacement="top" [nzTooltipTitle]="'menu.locate' | translate">
                    <i nz-icon nzType="aim"></i>
                </div>
                <div class="fold__btn" [class.fold__btn--on]="filterOpen" (click)="toggleFilter()"
                     nz-tooltip nzTooltipPlacement="top" [nzTooltipTitle]="'menu.filter' | translate">
                    <i nz-icon nzType="filter"></i>
                </div>
            }
            <div class="fold__btn" (click)="toggleCollapsedSidebar()"
                 nz-tooltip nzTooltipPlacement="top"
                 [nzTooltipTitle]="(settings.layout.collapsed ? 'menu.expand' : 'menu.collapse') | translate">
                <i nz-icon nzType="menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
            </div>
        </div>
        <!-- recently visited menus, newest first; the last entry clears the list -->
        <nz-dropdown-menu #recentMenus="nzDropdownMenu">
            <ul nz-menu nzSelectable="false" class="recent-menu">
                @if (recent.length) {
                    @for (r of recent; track r.link) {
                        <li nz-menu-item (click)="openRecent(r)" [title]="r.text">
                            <span class="recent-menu__text">{{ r.text }}</span>
                            @if (r.count > 1) {
                                <span class="recent-menu__count">{{ r.count }}</span>
                            }
                        </li>
                    }
                    <li nz-menu-divider></li>
                    <li nz-menu-item class="recent-menu__clear" (click)="clearRecent()">
                        <i nz-icon nzType="clear"></i> {{ 'menu.recent_clear' | translate }}
                    </li>
                } @else {
                    <li nz-menu-item nzDisabled>{{ 'menu.recent_none' | translate }}</li>
                }
            </ul>
        </nz-dropdown-menu>
    </div>
    @if (loading) {
        <div class="aside-loading-overlay">
            <nz-spin nzSimple/>
        </div>
    }
</div>
@if (!settings.layout.collapsed) {
    <div class="sidebar-resize-handle" (mousedown)="onResizeStart($event)"></div>
}
@if (resizing) {
    <div class="sidebar-resize-overlay"></div>
}
