<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form" autocomplete='off'>
  @if (error) {
    <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  }
  <nz-form-item>
    <nz-form-control>
      <nz-input-group class="full-width" nzSize="large" nzAddOnBeforeIcon="user">
        <input nz-input [value]="settingsService.user.name" disabled="disabled">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group class="full-width" nzSize="large" nzAddOnBeforeIcon="lock">
        <input nz-input type="password" formControlName="pwd"
          [placeholder]="fanyi('change-pwd.original_password')">
      </nz-input-group>
      <ng-template #pwdTip>
        @if (pwd.dirty && pwd.errors) {
          @if (pwd.errors['required']) {
            {{'change-pwd.validate.original_password'|translate}}
          }
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="newPwdTip">
      <nz-input-group class="full-width" nzSize="large" nz-popover nzPopoverPlacement="right"
        [nzPopoverContent]="nzTemplate" nzAddOnBeforeIcon="lock">
        <input nz-input type="password" formControlName="newPwd" [placeholder]="fanyi('change-pwd.new_password')">
      </nz-input-group>
      <ng-template #newPwdTip>
        @if (newPwd.dirty && newPwd.errors) {
          {{'change-pwd.validate.length-sex'|translate}}
        }
      </ng-template>
      <ng-template #nzTemplate>
        <div style="padding: 4px 0;">
          @switch (status) {
            @case ('ok') {
              <div class="success">{{'change-pwd.validate.height'|translate}}</div>
            }
            @case ('pass') {
              <div class="warning">{{'change-pwd.validate.middle'|translate}}</div>
            }
            @default {
              <div class="error">{{'change-pwd.validate.low'|translate}}</div>
            }
          }
          <div class="progress-{{status}}">
            <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6"
            [nzShowInfo]="false"></nz-progress>
          </div>
          <p class="mt-sm">{{'change-pwd.validate.text'|translate}}</p>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="pwd2Tip">
      <nz-input-group class="full-width" nzSize="large" nzAddOnBeforeIcon="lock">
        <input nz-input type="password" formControlName="newPwd2"
          [placeholder]="fanyi('change-pwd.confirm_password')">
      </nz-input-group>
      <ng-template #pwd2Tip>
        @if (newPwd2.dirty && newPwd2.errors) {
          @if (newPwd2.errors['required']) {
            {{'change-pwd.validate.confirm_password'|translate}}
          }
          @if (newPwd2.errors['equar']) {
            {{'change-pwd.validate.password_not_match'|translate}}
          }
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" type="submit" class="submit"
      style="display:block;width: 100%;" [nzLoading]="loading">
      <span>{{'global.update'|translate}}</span>
    </button>
  </nz-form-item>
</form>
