/* You can add global styles to this file, and also import other style files */
@import './custom.less';

html {
  background: #fff;
}


.alain-default {
  background: #f5f7fa;
}

.page-header {
  margin-bottom: 16px !important;
  //box-shadow: 0 10px 30px 0 rgba(82, 63, 105, .08);

  .ant-breadcrumb {
    margin-bottom: 12px;
  }
}

//暗黑模式
.dark {
  .alain-default__content, .alain-default__aside, .ant-modal-content {
    filter: invert(85%);
  }

  .alain-default__content, .ant-modal-content {
    img, canvas, .page-container, .fa, bi-chart {
      filter: invert(100%);
    }
  }

  .alain-default__header, .alain-default {
    background: #292929;
  }
}