::ng-deep {

    @header-h: 44px;

    .erupt_content {
        transition: all 300ms;
    }

    .ltr {
        .erupt_content {
            margin: @header-h 16px 16px 216px;
        }

        .alain-default__collapsed .erupt_content {
            margin: @header-h 16px 16px 80px;
        }

        @media (max-width: 767px) {
            .erupt_content {
                margin: @header-h 16px 16px;
                transform: translate3d(200px, 0, 0);
            }

            .alain-default__collapsed .erupt_content {
                margin: @header-h 16px 16px;
                transform: translateZ(0)
            }

        }
    }

    .rtl {
        .erupt_content {
            margin: @header-h 216px 16px 16px;
        }

        .alain-default__collapsed .erupt_content {
            margin: @header-h 80px 16px 16px;
        }

        @media (max-width: 767px) {
            .erupt_content {
                margin: @header-h 16px 16px;
                transform: translate3d(-200px, 0, 0);
            }

            .alain-default__collapsed .erupt_content {
                margin: @header-h 16px 16px;
                transform: translateZ(0)
            }

        }
    }

}


:host {
    footer.licence {
        position: fixed;
        bottom: -54px;
        left: 0;
        right: 0;
        z-index: 9999;
        height: 55px;
        padding-top: 3px;
        //border-top: 1px dashed #262625;
        line-height: 25px;
        text-align: center;
        color: #000;
    }

    ::ng-deep {

        .reuse-tab {
            margin-top: 0 !important;
        }

        .reuse-tab__card {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;

            .ant-tabs-bar {
                margin: 0;
            }

            .ant-tabs-tab {
                border-radius: 0 !important;
                border-left: 0 !important;
                border-top: 0 !important;
                min-width: 130px !important;
                text-align: center;
            }

            .ant-tabs-tab-active {
                border-bottom: 1px dashed #e8e8e8 !important;
            }

            .ant-tabs-nav-container {
                padding: 0 !important;
            }
        }

    }

}
