:host {
  header.eggs {
    position: fixed;
    top: -250px;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
  }

  footer.licence {
    position: fixed;
    bottom: -54px;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 55px;
    padding-top: 3px;
    //border-top: 1px dashed #262625;
    line-height: 25px;
    text-align: center;
    color: #000;
  }
}
