<header class="eggs">
    👴
    <br>
    😈
    <br>
    🍭
    <br>
    🐹
    <br>
    🚀
</header>
<div class="alain-default__progress-bar erupt-global__progress" *ngIf="isFetching"></div>
<div class="erupt-global__progress" *ngIf="isFetching"></div>
<layout-header class="alain-default__header"></layout-header>
<!--style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)"-->
<layout-sidebar class="alain-default__aside"></layout-sidebar>
<section class="alain-default__content">
<!--    <reuse-tab *ngIf="routerReuse" [tabType]="'card'"></reuse-tab>-->
    <router-outlet></router-outlet>
</section>
<nz-back-top></nz-back-top>
<ng-template #settingHost></ng-template>

<footer class="licence">
    Powered by Erupt © 2018 - {{nowYear}}
</footer>
