<h3 style="margin-bottom: 26px;text-align: center">{{'login.account_pwd_login'|translate}}</h3>
<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form"
  [class.login-shake]="shaking">
  @if (error) {
    <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  }
  <!--Account-->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="accountTip">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input #userInput nz-input formControlName="userName" [placeholder]="'login.account'|translate"
          [disabled]="loading" (keydown.enter)="focusPwd(); $event.preventDefault()">
      </nz-input-group>
      <ng-template #accountTip>
        @if (userName.dirty && userName.errors) {
          {{ 'login.validate.account'|translate }}
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <!--Password-->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="pwdTip">
      <nz-input-group nzSize="large" nzPrefixIcon="lock" [nzAddOnAfter]="controlPwd">
        <input #pwdInput nz-input [type]="passwordType" formControlName="password"
          [placeholder]="'login.pwd'|translate" [disabled]="loading"
          (keyup)="capsLock = $event.getModifierState('CapsLock')">
      </nz-input-group>
      @if (capsLock) {
        <nz-alert nzType="warning" [nzMessage]="'login.caps_lock'|translate" nzBanner style="margin-top:4px"></nz-alert>
      }
      <ng-template #controlPwd>
        <i nz-icon class="point" [nzType]="passwordType === 'password' ? 'eye-invisible' : 'eye'"
          nzTheme="outline" (click)="passwordType = passwordType === 'password' ? 'text' : 'password'"></i>
      </ng-template>
      <ng-template #pwdTip>
        @if (password.dirty && password.errors) {
          {{ 'login.validate.pwd'|translate }}
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <!--Graphic verification code-->
  @if (useVerifyCode) {
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzSize="large">
          <input nz-input type="text" [maxLength]="10" formControlName="verifyCode"
            [placeholder]="'login.validate_code'|translate" [disabled]="loading"
            (keydown.enter)="submit()">
          <img [src]="verifyCodeUrl" [alt]="'login.validate_code'|translate" (click)="changeVerifyCode()"
            style="position: absolute;z-index: 9;right: 1px;top: 1px;">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  }

  <nz-form-item>
    <nz-col [nzSpan]="12" class="text-left">
      <label nz-checkbox formControlName="rememberAccount">{{ 'login.remember_account'|translate }}</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" (click)="forgot()">{{ 'login.forget_pwd'|translate }}</a>
    </nz-col>
  </nz-form-item>
  @if (registerPage) {
    <nz-form-item style="margin-bottom:8px">
      <a class="forgot" [href]="registerPage">{{ 'login.register'|translate }}</a>
    </nz-form-item>
  }

  <nz-form-item style="margin-bottom: 0">
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading"
      style="display:block;width: 100%;">{{ 'login.button'|translate }}
    </button>
  </nz-form-item>
  <p style="text-align: center;margin-top: 16px;">
    @if (tenantLogin) {
      <a (click)="toTenant()">{{ 'tenant.login' | translate }}</a>
    }
  </p>
</form>
