<div class="lf-toolbar">
  <div class="lf-toolbar-icon">
    <svg viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
    </svg>
  </div>
  <div class="lf-toolbar-info">
    <div class="lf-toolbar-title">{{'login.account_pwd_login'|translate}}</div>
    <div class="lf-toolbar-subtitle">{{'login.subtitle'|translate}}</div>
  </div>
</div>
<div class="lf-body">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form"
    [class.login-shake]="shaking">
    @if (error) {
      <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true"
        style="margin-bottom:16px"></nz-alert>
    }
    <nz-form-item>
      <nz-form-control [nzErrorTip]="accountTip">
        <nz-input-group nzSize="large" nzPrefixIcon="user">
          <input #userInput nz-input formControlName="userName"
            [placeholder]="'login.account'|translate" [disabled]="loading"
            (keydown.enter)="focusPwd(); $event.preventDefault()">
        </nz-input-group>
        <ng-template #accountTip>
          @if (userName.dirty && userName.errors) {
            {{ 'login.validate.account'|translate }}
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="pwdTip">
        <nz-input-group nzSize="large" nzPrefixIcon="lock" [nzAddOnAfter]="controlPwd">
          <input #pwdInput nz-input [type]="passwordType" formControlName="password"
            [placeholder]="'login.pwd'|translate" [disabled]="loading"
            (keyup)="capsLock = $event.getModifierState('CapsLock')">
        </nz-input-group>
        @if (capsLock) {
          <nz-alert nzType="warning" [nzMessage]="'login.caps_lock'|translate"
            nzBanner style="margin-top:4px"></nz-alert>
        }
        <ng-template #controlPwd>
          <i nz-icon class="point"
            [nzType]="passwordType === 'password' ? 'eye-invisible' : 'eye'"
            nzTheme="outline"
            (click)="passwordType = passwordType === 'password' ? 'text' : 'password'"></i>
        </ng-template>
        <ng-template #pwdTip>
          @if (password.dirty && password.errors) {
            {{ 'login.validate.pwd'|translate }}
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    @if (useVerifyCode) {
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large">
            <input nz-input type="text" [maxLength]="10" formControlName="verifyCode"
              [placeholder]="'login.validate_code'|translate" [disabled]="loading"
              (keydown.enter)="submit()">
            <img [src]="verifyCodeUrl" [alt]="'login.validate_code'|translate"
              (click)="changeVerifyCode()"
              style="position:absolute;z-index:9;right:1px;top:1px;">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    }
    <nz-form-item>
      <nz-col [nzSpan]="12" class="text-left">
        <label nz-checkbox formControlName="rememberAccount">
          {{ 'login.remember_account'|translate }}
        </label>
      </nz-col>
      <nz-col [nzSpan]="12" class="text-right">
        <a class="lf-link" (click)="forgot()">{{ 'login.forget_pwd'|translate }}</a>
      </nz-col>
    </nz-form-item>
    @if (registerPage) {
      <nz-form-item style="margin-bottom:12px">
        <a class="lf-link" [href]="registerPage">{{ 'login.register'|translate }}</a>
      </nz-form-item>
    }
    <nz-form-item style="margin-bottom:0">
      <button nz-button type="submit" nzType="primary" nzSize="large"
        [nzLoading]="loading" style="display:block;width:100%">
        {{ 'login.button'|translate }}
      </button>
    </nz-form-item>
    @if (tenantLogin) {
      <div class="lf-divider">
        <a class="lf-link" (click)="toTenant()">{{ 'tenant.login' | translate }}</a>
      </div>
    }
  </form>
</div>
