<div class="notice-container">
    <!-- 头部 -->
    <div class="notice-header">
        <div class="header-title">
            <span nz-icon nzType="bell" nzTheme="outline"></span>
            <span class="title-text">{{ 'notice.center' | translate }}</span>
        </div>
        <button nz-button nzType="text" nzSize="small" (click)="close()" class="close-btn">
            <span nz-icon nzType="close"></span>
        </button>
    </div>

    <!-- 消息列表视图 -->
    <div class="notice-content">
        <div class="channel-segmented">
            <nz-segmented [nzBlock]="true"
                          [nzOptions]="channelOptions"
                          [(ngModel)]="selectedChannelIndex"
                          (ngModelChange)="onChannelChange($event)"
                          [nzSize]="'small'">
            </nz-segmented>
        </div>

        <!-- 消息列表 -->
        <nz-list [nzDataSource]="messages" [nzLoading]="loadingMessages" [nzSize]="'small'"
                 class="message-list">
            <ng-container *ngIf="selectedChannelIndex === 0">
                <nz-list-item *ngFor="let message of messages" (click)="viewMessageDetail(message)" class="message-item">
                    <div style="width: 100%">
                        <div class="message-header">
                            <h3 class="message-title">
                                <div style="display: flex;align-items: center;">
                                    <nz-badge nzStatus="error" *ngIf="message.status == NoticeStatus.UNREAD"></nz-badge>
                                    <span>{{ message.noticeLog?.title }}</span>
                                    <span style="font-size: .7em;margin-left: auto">{{ message.noticeLog?.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                                </div>
                            </h3>
                        </div>
                        <p class="message-content" *ngIf="message.noticeLog?.content" [innerHTML]="message.noticeLog.content|safeHtml">
                        </p>
                    </div>
                </nz-list-item>
            </ng-container>
        </nz-list>

        <!-- 分页 -->
        <div class="notice-pagination" *ngIf="total > 0">
            <nz-pagination
                [nzPageIndex]="pageIndex"
                [nzPageSize]="pageSize"
                [nzTotal]="total"
                [nzSize]="'small'"
                [nzShowSizeChanger]="false"
                (nzPageIndexChange)="onPageIndexChange($event)">
            </nz-pagination>
        </div>
    </div>

</div>
