<div class="setting-item">
    <span>{{'setting.fixed-header' | translate}}</span>
    <nz-switch nzSize="small" [(ngModel)]="layout['fixed']" (ngModelChange)="setLayout('fixed', layout['fixed'])"></nz-switch>
</div>
<div class="setting-item">
    <span>{{'setting.tab-reuse' | translate}}</span>
    <nz-switch nzSize="small" [(ngModel)]="layout['reuse']" (ngModelChange)="changeReuse(layout['reuse'])"></nz-switch>
</div>
<div class="setting-item">
    <span>{{'setting.nav' | translate}}</span>
    <nz-switch nzSize="small" [(ngModel)]="layout['breadcrumbs']"
               (ngModelChange)="setLayout('breadcrumbs',layout['breadcrumbs'])"></nz-switch>
</div>
<div class="setting-item">
    <span>{{'setting.table-border' | translate}}</span>
    <nz-switch nzSize="small" [(ngModel)]="layout['bordered']"
               (ngModelChange)="setLayout('bordered', layout['bordered'])"></nz-switch>
</div>
<div class="setting-item">
    <span>{{'setting.color-weak' | translate}}</span>
    <nz-switch nzSize="small" [(ngModel)]="layout.colorWeak"
               (ngModelChange)="toggleColorWeak(layout.colorWeak)"></nz-switch>
</div>
<div class="setting-item">
    <span>{{'setting.color-gray' | translate}}</span>
    <nz-switch nzSize="small" [(ngModel)]="layout['colorGray']"
               (ngModelChange)="toggleColorGray(layout['colorGray'])"></nz-switch>
</div>
<!--<div class="setting-item">-->
<!--    <span>{{'setting.clear-cache' | translate}}</span>-->
<!--    <button nz-button [nzSize]="'small'" (click)="clear()">{{'setting.clear' | translate}}</button>-->
<!--</div>-->
