<nz-affix #affix *ngIf="isBrowser && fixed; else phTpl" [nzOffsetTop]="fixedOffsetTop">
    <ng-template [ngTemplateOutlet]="phTpl"></ng-template>
</nz-affix>
<ng-template #phTpl>
    <div class="page-header" [class.page-header-rtl]="dir === 'rtl'">
        <div [ngClass]="{ 'page-header__wide': wide }">
            <nz-skeleton
                [nzLoading]="loading"
                [nzTitle]="false"
                [nzActive]="true"
                [nzParagraph]="{ rows: 3 }"
                [nzAvatar]="{ size: 'large', shape: 'circle' }"
                class="d-block"
            >
                <ng-container *ngIf="!breadcrumb; else breadcrumb!">
                    <nz-breadcrumb *ngIf="paths && paths.length > 0">
                        <nz-breadcrumb-item *ngFor="let i of paths">
                            <ng-container *ngIf="i.link">
                                <a [routerLink]="i.link">
                                    <ng-container *ngIf="i.icon.type=='icon'">
                                        <i nz-icon [nzType]="i.icon.value"></i>
                                    </ng-container>
                                    <ng-container *ngIf="i.icon.type=='class'">
                                        <i [class]="i.icon.value"></i>
                                    </ng-container>
                                    &nbsp;
                                    {{ i.title }}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="!i.link">
                                <ng-container *ngIf="i.icon.type=='icon'">
                                    <i nz-icon [nzType]="i.icon.value"></i>
                                </ng-container>
                                <ng-container *ngIf="i.icon.type=='class'">
                                    <i [class]="i.icon.value"></i>
                                </ng-container>
                                &nbsp;
                                {{ i.title }}
                            </ng-container>
                        </nz-breadcrumb-item>
                    </nz-breadcrumb>
                </ng-container>
            </nz-skeleton>
        </div>
    </div>
</ng-template>
