<div [class.page-header-rtl]="dir === 'rtl'">
  @if (!breadcrumb) {
    @if (paths && paths.length > 0) {
      <nz-breadcrumb>
        @for (i of paths; track $index) {
          <nz-breadcrumb-item>
            @if (i.link) {
              <a [routerLink]="i.link">
                {{ i.title }}
              </a>
            }
            @if (!i.link) {
              {{ i.title }}
            }
          </nz-breadcrumb-item>
        }
      </nz-breadcrumb>
    }
  } @else {
    <ng-template [ngTemplateOutlet]="breadcrumb!"></ng-template>
  }
</div>
