<div class="alain-default__progress-bar erupt-global__progress" *ngIf="isFetching"></div>
<div class="erupt-global__progress" *ngIf="isFetching"></div>
<layout-header class="erupt-header" [ngClass]="settings.layout['fixed']?'erupt-header_fixed':''"
               [menu]="menu"></layout-header>
<layout-sidebar class="erupt-side alain-default__aside"></layout-sidebar>
<section class="erupt_content">
    <!--<erupt-nav class="hidden-pc" style="padding: 8px 12px;background: #fff !important;"></erupt-nav>-->
    <reuse-tab *ngIf="settingSrv.layout['reuse']" [max]="30" tabType="card" [tabBarGutter]="0"
               [tabMaxWidth]="180"></reuse-tab>
    <router-outlet></router-outlet>
</section>
<theme-btn [devTips]="null"
           [types]="themes">
</theme-btn>
<nz-back-top>
</nz-back-top>
<ng-template #settingHost></ng-template>
<footer class="licence">Powered by Erupt © 2018 - {{nowYear}}</footer>
