<div class="alain-default__progress-bar erupt-global__progress" *ngIf="isFetching"></div>
<div class="erupt-global__progress" *ngIf="isFetching"></div>
<layout-header class="erupt-header" [menu]="menu"></layout-header>
<layout-sidebar class="alain-default__aside erupt-side"></layout-sidebar>
<section class="erupt_content">
    <reuse-tab *ngIf="settingSrv.layout['reuse']" tabType="card" [tabBarGutter]="0" [tabMaxWidth]="180"></reuse-tab>
    <router-outlet></router-outlet>
</section>
<theme-btn [devTips]="null">
</theme-btn>
<nz-back-top>
</nz-back-top>
<ng-template #settingHost></ng-template>
<footer class="licence">Powered by Erupt © 2018 - {{nowYear}}</footer>
