<nz-spin [nzSpinning]="loading">
  @if (noticeMessageDetail) {
    <div class="detail-body">
      <div class="message-content rich-content-html" [innerHTML]="noticeMessageDetail.noticeLog.content | safeHtml"></div>
    </div>
    <div class="detail-footer">
      @if (noticeMessageDetail.noticeLog.noticeScene?.name) {
        <nz-tag nzColor="volcano">{{ noticeMessageDetail.noticeLog.noticeScene.name }}</nz-tag>
      }
      @if (noticeMessageDetail.noticeLog.url) {
        <a class="detail-link" (click)="openUrlDrawer(noticeMessageDetail.noticeLog.url)">
          <span nz-icon nzType="link" nzTheme="outline"></span>
          {{ 'notice.openLink' | translate }}
        </a>
      }
      <span class="detail-time">{{ noticeMessageDetail.noticeLog.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</span>
    </div>
  }
</nz-spin>
