<button nz-button nzType="default" class="mb-sm" (click)="this.dataService.downloadExcelTemplate(eruptModel.eruptName)">
    <i nz-icon nzType="download" nzTheme="outline"></i>下载模板
</button>
<nz-alert *ngIf="errorText" style="margin-bottom: 8px;" nzType="error" nzCloseable [nzDescription]="errorText">
</nz-alert>
<nz-upload nzType="drag"
           [(nzFileList)]="fileList"
           [nzLimit]="1"
           [nzHeaders]="{token:tokenService.get().token,erupt:eruptModel.eruptName}"
           [nzAction]="dataService.excelImport + eruptModel.eruptName"
           [nzShowButton]="true"
           (nzChange)="upLoadNzChange($event)">
    <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">单击或拖动Excel文件到此区域上传</p>
</nz-upload>