<div style="background: #fafafa;border: 1px solid #e8e8e8;padding: 10px 10px" *ngIf="behavior!='readonly'">
    <button (click)="addData()" nz-button nzType="default" [nzSize]="'default'"><i nz-icon type="plus" theme="outline"></i>新增</button>
    <button (click)="deleteData()" nz-button nzType="danger" [nzSize]="'default'"><i nz-icon type="delete" theme="outline"></i>删除</button>
    <!--<button nz-button nzType="default" nzGhost><i nz-icon type="reload" theme="outline"></i>刷新</button>-->
</div>
<st #st *ngIf="tabErupt.eruptFieldModel.eruptFieldJson.edit.$viewValue"
    (change)="selectTableItem($event)"
    [size]="'small'"
    [columns]="tabErupt.eruptFieldModel.eruptFieldJson.edit.$viewValue"
    [data]="tabErupt.eruptFieldModel.eruptFieldJson.edit.$value"
    [bordered]="true" [page]="stConfig.stPage">

</st>