<div style="margin-bottom: 10px; display: flex; gap: 8px;">
    @if (templates && templates.length > 0) {
        <button nz-button nz-dropdown [nzDropdownMenu]="templateMenu">
            选择模板 <span nz-icon nzType="down"></span>
        </button>
        <nz-dropdown-menu #templateMenu="nzDropdownMenu">
            <ul nz-menu style="max-height: 300px;overflow-y: auto">
                @for (t of templates; track t.name) {
                    <li nz-menu-item (click)="applyTemplate(t.content)">{{ t.name }}</li>
                }
            </ul>
        </nz-dropdown-menu>
    }
    @if (globalVars && globalVars.length > 0) {
        <button nz-button nz-dropdown [nzDropdownMenu]="globalVarMenu" style="margin-left: 0">
            插入全局变量 <span nz-icon nzType="down"></span>
        </button>
        <nz-dropdown-menu #globalVarMenu="nzDropdownMenu">
            <ul nz-menu style="max-height: 300px;overflow-y: auto">
                @for (v of globalVars; track v.value) {
                    <li nz-menu-item (click)="addVar(v)">{{ v.label }}</li>
                }
            </ul>
        </nz-dropdown-menu>
    }
    @if (vars && vars.length > 0) {
        <button nz-button nz-dropdown [nzDropdownMenu]="varMenu" style="margin-left: 0">
            插入变量 <span nz-icon nzType="down"></span>
        </button>
        <nz-dropdown-menu #varMenu="nzDropdownMenu">
            <ul nz-menu style="max-height: 300px;overflow-y: auto">
                @for (v of vars; track v.value) {
                    <li nz-menu-item (click)="addVar(v)">{{ v.label }}</li>
                }
            </ul>
        </nz-dropdown-menu>
    }
</div>
<ueditor #ue [height]="height" [name]="'print-template'" [(ngModel)]="value" [config]="{serverUrl:''}" (onReady)="onReady($event)" (onPreReady)="onPreReady($event)"></ueditor>
