<nz-spin [nzSpinning]="loading">
    @if (!editorError) {
        @if (vars && vars.length > 0) {
            <div style="padding-right: 12px">
                <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="text">
                    插入变量 <span nz-icon nzType="down"></span>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu style="max-height: 300px;overflow-y: auto">
                        @for (v of vars; track v) {
                            <li nz-menu-item (click)="addVar(v)">{{ v.label }}</li>
                        }
                    </ul>
                </nz-dropdown-menu>
            </div>
        }
        <div style="background: #eee;">
            <div id="toolbar-container"></div>
            <div id="editor"
                 [style.min-height.px]="height"
                 style="padding: 5px 10px;max-height: 800px;overflow-y: auto;background: #fff;border: 1px solid #c4c4c4;">
            </div>
        </div>
    }
    @if (editorError) {
        <div>
            <p style="color: red">The text editor cannot be loaded. It is recommended to replace or upgrade your browser</p>
            <textarea nz-input class="erupt-input" name="printTemplate"
                      [nzAutosize]="{ minRows: 3, maxRows: 20 }" [(ngModel)]="value" [disabled]="readonly"
                      [placeholder]="'The text editor cannot be loaded. It is recommended to replace or upgrade your browser'"
            ></textarea>
        </div>
    }
</nz-spin>
