<div class="alain-default__header-logo" ripper color="#888">
    <a [routerLink]="settings.user.indexPath" (click)="toIndex()" class="alain-default__header-logo-link">
        <img *ngIf="logoPath" [src]="logoPath" style="vertical-align: top" class="header-logo-img" alt=""/>
        <span *ngIf="logoText" class="header-logo-text">{{logoText}}</span>
    </a>
</div>
<div class="alain-default__nav-wrap">
    <ul class="alain-default__nav">
        <!-- Search Button -->
        <li class="hidden-pc" (click)="searchToggleChange()">
            <div class="alain-default__nav-item">
                <i nz-icon nzType="search"></i>
            </div>
        </li>
        <li class="hidden-pc">
            <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
                <i nz-icon nzType="menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
            </div>
        </li>
        <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search>
    </ul>

    <ul class="alain-default__nav">
        <ng-container *ngFor="let r of r_tools">
            <li (click)="customToolsFun($event,r)" [ngClass]="r.mobileHidden?'hidden-mobile':''">
                <div class="alain-default__nav-item" [title]="r.text">
                    <i class="fa {{r.icon}}"></i>
                </div>
            </li>&nbsp;
        </ng-container>

        <nz-divider nzType="vertical" class="hidden-mobile" *ngIf="r_tools.length>0"></nz-divider>

        <li class="hidden-mobile" (click)="toggleScreen()">
            <div class="alain-default__nav-item">
                <i nz-icon [nzType]="isFullScreen ? 'fullscreen-exit' : 'fullscreen'"></i>
            </div>
        </li>

        <li>
            <header-i18n></header-i18n>
        </li>

        <li>
            <div class="alain-default__nav-item" (click)="open()">
                <i nz-icon nzType="setting" nzTheme="outline"></i>
            </div>
            <nz-drawer [nzClosable]="true" [nzVisible]="drawerVisible" [nzWidth]="260"
                       [nzBodyStyle]="{padding:'8px 24px'}"
                       nzPlacement="right" (nzOnClose)="close()" [nzTitle]="'setting.config' | i18n">
                <erupt-settings></erupt-settings>
            </nz-drawer>
        </li>

        <li class="hidden-mobile">
            <header-user></header-user>
        </li>
    </ul>
</div>
