@import '~styles/theme';

:host {
  ::ng-deep {
    #erupt_logo_svg {
      path {
        fill: #fff !important;
      }
    }

    .header-logo-img {
      height: @alain-default-header-hg;
      padding: 6px 0
    }

    .alain-default__header-logo {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header-logo-text {
      color: #fff;
      line-height: @alain-default-header-hg;;
      font-size: 2em;
      letter-spacing: 2px;
      margin-left: 6px;
      font-family: 'Courier New';
    }

    //.alain-default__search {
    //  margin: 0 16px;
    //}

    @media (max-width: 767px) {
      .alain-default__header-logo {
        width: auto;
        min-width: 64px;
        margin: 0 6px;
        border-right: none;
      }
    }
  }
}
