@import '~styles/theme';

:host {
  ::ng-deep {
    .header-logo-img {
      height: @alain-default-header-hg;
      padding: 6px 0
    }

    .alain-default__header-logo {
      border-right: 1px solid #efe3e5;
    }

    @media (max-width: 767px) {
      .alain-default__header-logo {
        width: auto;
        min-width: 64px;
        margin: 0 6px;
        border-right: none;
      }
    }
  }
}