<div class="alain-default__header-logo">
    <a [routerLink]="['/']" class="alain-default__header-logo-link">
        <img class="alain-default__header-logo-expanded" [src]="logoPath" alt="{{settings.app.name}}"
             style="max-height:40px;"/>
        <img class="alain-default__header-logo-collapsed" [src]="logoPath" alt="{{settings.app.name}}"
             style="max-height:30px;"/>
    </a>
</div>
<div class="alain-default__nav-wrap">
    <ul class="alain-default__nav">
        <!-- Menu -->
        <!-- Lock Page -->
        <!--<li class="hidden-mobile">-->
        <!--<div class="alain-default__nav-item" [routerLink]="['/lock']">-->
        <!--<i nz-icon nzType="lock"></i>-->
        <!--</div>-->
        <!--</li>-->
        <!-- Search Button -->
        <!--<li class="hidden-pc" (click)="searchToggleChange()">-->
        <!--<div class="alain-default__nav-item">-->
        <!--<i nz-icon nzType="search"></i>-->
        <!--</div>-->
        <!--</li>-->
        <li class="hidden-mobile" (click)="toggleScreen()">
            <div class="alain-default__nav-item">
                <i nz-icon [nzType]="isFullScreen ? 'fullscreen-exit' : 'fullscreen'"></i>
            </div>
        </li>

<!--        <li (click)="refresh()">-->
<!--            <div class="alain-default__nav-item">-->
<!--                <i nz-icon [nzType]="'reload'"></i>-->
<!--            </div>-->
<!--        </li>-->
    </ul>
    <!--<div style="width: 100%;text-align: center;font-size: 26px;line-height: 48px;color: #fff;">-->
    <!--{{title}}-->
    <!--</div>-->
    <!--<header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search>-->
    <ul class="alain-default__nav">
        <!--&lt;!&ndash; Notify &ndash;&gt;-->
        <!--<li>-->
        <!--<header-notify></header-notify>-->
        <!--</li>-->
        <!--&lt;!&ndash; Task &ndash;&gt;-->
        <!--<li class="hidden-mobile">-->
        <!--<header-task></header-task>-->
        <!--</li>-->
        <!--&lt;!&ndash; App Icons &ndash;&gt;-->
        <!--<li class="hidden-mobile">-->
        <!--<header-icon></header-icon>-->
        <!--</li>-->
        <!--&lt;!&ndash;Settings &ndash;&gt;-->
        <!--<li class="hidden-mobile">-->
        <!--<nz-dropdown nzTrigger="click" nzPlacement="bottomRight">-->
        <!--<div class="alain-default__nav-item" nz-dropdown>-->
        <!--<i nz-icon nzType="setting"></i>-->
        <!--</div>-->
        <!--<div nz-menu style="width:200px;">-->
        <!--&lt;!&ndash;<div nz-menu-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<header-fullscreen></header-fullscreen>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div nz-menu-item>-->
        <!--<header-storage></header-storage>-->
        <!--</div>-->
        <!--</div>-->
        <!--</nz-dropdown>-->
        <!--</li>-->
        <ng-container *ngFor="let r of r_tools">
            <li (click)="customToolsFun($event,r)" [ngClass]="r.mobileHidden?'hidden-mobile':''">
                <div class="alain-default__nav-item" [title]="r.text">
                    <i class="fa {{r.icon}}"></i>
                </div>
            </li>&nbsp;
        </ng-container>

        <li class="hidden-mobile">
            <header-user></header-user>
        </li>
    </ul>
</div>
