<div>
    <nz-input-group [nzSuffix]="searchSuffixIcon" class="mb-sm" style="width: 100%;">
        <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue">
    </nz-input-group>
    <ng-template #searchSuffixIcon>
        <i nz-icon type="search"></i>
    </ng-template>
    <br>
    <nz-spin [nzSpinning]="!list" style="max-height: 500px;overflow: auto;">
        <nz-tree #tree
                 nzDraggable
                 class="tree-container"
                 (nzClick)="nodeClickEvent($event)"
                 [nzShowLine]="true"
                 [nzData]="list"
                 [nzSearchValue]="searchValue">
        </nz-tree>
    </nz-spin>
</div>